.red{
    color: darkgoldenrod;
}

.red{
    background-color: rgb(132, 190, 145);}

.bg-yellow{
    background-color: chartreuse;
}

#Firstdiv{
    background-color: rgb(99, 12, 12);
}
#Seconddiv{
    background-color: black;
